html {
    background-color: antiquewhite;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif, system-ui
}

#image {
    display: block;
    max-width: 100%;
    height: auto;
}

#title, #img-caption {
    text-align: center;
}